.search-button:disabled{
    opacity:50%;
}

.selector-form
{
display:flex;
flex-direction:column;
width:40%;
align-items:center;
border:1px solid black;
min-height:200px;
align-items:center;
justify-content:space-around;
border-radius:10px;
}

.selector-form input 
{
width:80%;
height:30px;
border:0px;
border-radius:5px;
text-align:center;
}

.selector-form button
{
min-width:300px;
background-color:black;
}

.done-button
{
min-width:200px;
margin-bottom:50px;
margin-top:50px;
}



