.search-button:disabled{
    opacity:50%;
}

.disclaimer
{
color:white;
margin:0px 0px 20px 0px;
}

.selector-form
{
display:flex;
flex-direction:column;
width:40%;
align-items:center;
border:1px solid black;
min-height:200px;
align-items:center;
justify-content:space-around;
border-radius:10px;
}

.selector-form input 
{
width:80%;
height:30px;
border:0px;
border-radius:5px;
text-align:center;
}

.selector-form button
{
min-width:300px;
background-color:black;
color:white;
border:0px;
height:40px;
border-radius:10px;
}

.done-button
{
min-width:200px;
margin-bottom:50px;
margin-top:50px;
}

@media only screen and (max-width:450px)
{

.selector-form
{
min-height:500px;
min-width:600px;
}

.selector-form label
{
font-size:32px;
}

.selector-form input
{
height:80px;
font-size:24px;
}

.selector-form button
{
height:80px;
font-size:24px;
}

}



