.auth-page
{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.form-change
{
margin-top:20px;
}

.form-change-active
{
font-size:25px;
width:200px;
border:0px;
border-bottom:5px solid var(--auburn);
color:var(--auburn);
margin-right:2px;
margin-left:2px;
font-weight:bold;
padding:5px;
}

.form-change-inactive
{
font-size:25px;
width:200px;
border:0px;
border-bottom:5px solid lightslategray;
color:lightslategray;
margin-right:2px;
font-weight: bold;
margin-left:2px;  
padding:5px;
}

.auth-title
{
text-align:center;
font-size:30px;
color:var(--chefchaouenBlue);
margin-top:20px;
margin-bottom:20px;
}


form
{
padding:50px;
border:1px solid var(--chefchaouenBlue);
border-radius:20px;
text-align:center;
}

form div 
{
font-size:20px;
margin-top:40px;
margin-bottom:40px;
}

input
{
text-align: center;
height:40px;
width:240px;
border:0px;
border-radius:10px;
font-size:15px;
}

form button
{
display:block;
margin:auto;
margin-top:40px;
color:white;
background-color:var(--chefchaouenBlue);
border:0px;
font-size:25px;
padding:5px 30px 5px 30px;
border-radius:10px;
}