.auth-page
{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.form-change
{
margin-top:20px;
}

.form-change-active
{
font-size:25px;
width:200px;
border:0px;
border-bottom:5px solid black;
color:black;
margin-right:2px;
margin-left:2px;
font-weight:bold;
padding:5px;
background-color:white;
}

.form-change-inactive
{
font-size:25px;
width:200px;
border:0px;
border-bottom:5px solid gray;
color:gray;
margin-right:2px;
font-weight: bold;
margin-left:2px;  
padding:5px;
background-color:white;
opacity:85%;
}

.form-change-inactive:hover
{
opacity:100%;
}

.auth-title
{
text-align:center;
font-size:30px;
color:black;
margin-top:20px;
margin-bottom:20px;
}


.auth-form
{
padding:50px;
border:2px solid black;
border-radius:20px;
text-align:center;
display:flex;
flex-direction:column;
align-items:center;
}

.auth-form div 
{
font-size:20px;
margin-top:10px;
margin-bottom:10px;
}

.auth-form input
{
text-align: center;
height:40px;
width:400px;
border:0px;
border-radius:10px;
font-size:15px;
margin-bottom:15px;
}

.auth-form button
{
width:200px;
display:block;
margin:auto;
margin-top:40px;
color:white;
background-color:black;
border:0px;
font-size:22px;
padding:5px 35px 5px 35px;
border-radius:20px;
}

.auth-form button:hover
{
background-color:white;
color:black;
border:1px solid black;
}

.query-info
{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.query-selectioncount
{
display:flex;
}

.auth-form div 
{
color:black;
}

.sign-up-container
{
display:flex;
flex-direction:column;
justify-content:space-around;
align-items:center;
min-height:300px;
}

.sign-up-container select
{
width:400px;
height:40px;
border-radius:10px;
}

@media only screen and (max-width:450px)
{

.auth-form input
{
width:90%;
}

.auth-form select
{
width:90%;
}

.auth-form
{
background-color:red;
width:95%;
padding:0px;
}

.sign-up-container select
{
min-width:90%;
}

.sign-up-container
{
width:100%;
background-color:blue;
}

/* .form-change
{
display:flex;
}

.auth-page
{
width:196%;
}

.form-change
{
width:80%;
justify-content:center;
margin-top:100px;
margin-bottom:50px;

}

.form-change button
{
height:70px;
width:210px;
margin:20px;
}

.auth-container
{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}

.auth-title
{
font-size:40px;
margin-bottom:50px;
}

.auth-form
{
width:130%;
margin:0px;
background-color:white;
min-height:800px;
margin-bottom:100px;
}

.input-header
{
font-size:32px;
margin-top:50px;
}

.auth-form input
{
border:1px solid black;
border-radius:10px;
height:50px;
margin-top:30px;
font-size:24px;
}

.auth-form input::placeholder

{
font-size:24px;
}

.auth-form button
{
margin-top:100px;
height:60px;
width:240px;
font-size:24px;
}

.sign-up-container
{
display:flex;
flex-direction:column;
height:600px;
justify-content:space-around;
align-items:center;
}

.sign-up-container select
{
height:50px;
font-size:24px;
background-color:white;
border:2px solid black;
} */

}