.page-header
{
font-size:36px;
text-decoration:none;
}

.card-container
{
display:flex;
justify-content:space-around;
}

.header
{
font-size:24px;
text-decoration:none;
color:black;
margin-bottom:10px;
}

.info-n-sub-header > div
{
margin-bottom:20px;
}



.sub-header
{
font-size:18px;
text-decoration:underline;
}