.delete-query-container
{
width:50%;
margin:auto;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
margin-top:20px;
}

.del-button
{
width:200px;
height:40px;
border-radius:10px;
border:0px;
background-color:black;
color:white;
font-size:20px;
font-weight:bold;
}

.del-button:hover
{
color:black;
background-color:white;
}

.del-confirm-container
{
display:flex;
justify-self:center;
align-items:center;
flex-direction:column;
height:120px;
width:450px;
background-color:white;
margin-top:20px;
border-radius:10px;
}

.del-message
{
margin-top:20px;
font-size:20px;
margin-bottom:15px;
}

.confirm-buttons
{
width:300px;
display:flex;
justify-content:space-around;
}

.confirm-buttons button
{
height:40px;
width:120px;
font-size:20px;
font-weight:bold;
border:0px;
border-radius:10px;
background-color:black;
color:white;
}

.confirm-buttons button:hover
{
color:white;
background-color:var(--utOrange);
}


@media only screen and (max-width:450px)
{
    /* .delete-query-container
    {
    margin-left:20%;
    }



    .del-button
    {
    font-size:24px;
    }

    .del-message
    {
        font-size:24px;
    }

    .del-confirm-container
    {
    width:550px;
    } */
} 
