.del-acc-container
{
width:400px;
margin:auto;
display:flex;
justify-content:center;
}

.del-prompt-activate-btn
{
margin-top:50px;
width:200px;
height:40px;
font-size:22px;
font-weight:bold;
color:white;
border:0px;
background-color:black;
border-radius:10px;
}

.del-prompt-activate-btn:hover
{
background-color:red;
color:white;
}

.delete-form
{
display:flex;
flex-direction:column;
justify-content:space-around;
text-align:center;
align-items:center;
min-height:300px;
background-color:white;
margin-top:40px;
padding:40px;
border-radius:10px;
}

.delete-form input
{
width:250px;
height:30px;
border-radius:5px;
border:1px solid black;
text-align:center;
}

.delete-form input::placeholder
{
text-align:center;
}

.btns-cont
{
width:250px;
display:flex;
justify-content:space-around;
margin-top:10px;
}

.btns-cont button
{
width:100px;
height:25px;
border:0px;
background-color:black;
color:white;
font-weight:bold;
border-radius:5px;
}

.btns-cont button:hover
{
color:white;
background-color:var(--utOrange);}

