
.list-container
{
    background-color:white;
    border-radius:0px 0px 10px 10px;
    padding-top:10px;
    padding-bottom:10px;

}

.hr
{
color:black;
height:20px;
}

.list-title {
  font-size:23px;
  text-align:center;
  background-color:var(--black);
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:20px;
  color:white;
  border-radius:10px 10px 0px 0px;
}


.remove-button{
    border:0px;
    width:20px;
    height:20px;
    border-radius:50%;
    background-color:red;
    font-weight:bold;
    font-size:12px;
    color:white;
}


.option-container
{
  display:flex;
  margin:10px;
  justify-content:baseline;
}

.option-container > div {
  font-size:18px;
  color:black;
  font-weight:100;
  margin-right:1%;
}

.list-column
{
min-width:300px;
margin-left:10px;
}

@media only screen and (max-width:450px)
{

/* .list-container
{
min-width:500px;
}

.list-title
{
font-size:32px;
padding:20px 0px;
}

.option-container > div
{
font-size:32px;
}


.remove-button{
  border:0px;
  width:35px;
  height:35px;
  border-radius:50%;
  background-color:red;
  font-weight:bold;
  font-size:20px;
  color:white;
} */

}