.features-title
{
text-align:center;
padding-top:3px;
padding-bottom:3px;
font-size:30px;
color:var(--chefchaouenBlue);
background-color:white;
margin-top:5px;
align-items:center;
justify-content:center;
}

.single-feature
{
display:flex;
align-items:center;
justify-content:center;
border-bottom:1px solid white;
margin-top:15px;
padding-bottom:15px;
}

.single-feature img
{
width:50px;
margin-right:10px;
}

.single-feature div
{
font-size:30px;
color:var(--auburn);
}