.main{
    background-color: var(--utOrange);
    display:flex;
    justify-content:center;
    align-items:center;
}

.hiw-button
{
background-color:black;
color:white;
width:300px;
margin:auto;
margin-top:30px;
text-align:center;
padding:20px;
font-size:24px;
border-radius:20px;
}

.hiw-button:hover
{
color:black;
background-color:white;
}

.info{
margin-top:5px;
display:flex;
flex-direction:row;
padding-top:3%;

}

.info-text{
width:60%;
display:flex;
flex-direction:column;
align-items:center;
}

.info-text .main-header{
font-size:40px;
color:var(--white);
text-align:center;
margin-bottom:10px;
}

.info-text .sub-header{
    color:var(--black);
    font-size:30px;
    line-height:50px;
    text-align:center;
    width:90%;
}


.info-img-buttons img{
margin-top:20px;
width:500px;
}
 
.info-img-buttons button{
    width:120px;
    height:40px;
    font-size:20px;
    font-weight:600;
    border-radius:20px;
    border:0px;
}


.buttons{
    display:flex;
    justify-content:space-around;
    margin-top:50px;
}

#sign-up-button
{
background-color:var(--black);
color:white;
}

#sign-up-button:hover
{
background-color:white;
color:var(--black);
border:2px solid var(--black);
}

#login-button{
background-color:var(--white);
color:black;
}

#login-button:hover
{
background-color:black;
color:var(--white);
border:2px solid var(--white);
}

.graphic-placeholder
{
 background-color:white;
 width:400px;
 height:300px;
}

@media only screen and (max-width:1000px)
{
    .info
    {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    }
    
    .graphic-placeholder
    {
    width:0px;
    height:0px;
    }
    
    .info-text
    {
    width:100%;
    }
    
    .main-header
    {
    width:80%;
    }
    
    .main-header h1
    {
    padding-top:20px;
    font-size:84px;
    padding-bottom:20px;
    }
    
    .info-text .sub-header
    {
    font-size:32px;
    }
    
    .info-text .main-header
    {
    font-size:35px;
    }
    
    .info-img-buttons
    {
    width:70%;
    }
    
    .hiw-button
    {
    margin-top:40px;
    width:240px;
    height:60px;
    padding-top:15px;
    }

    .info-img-buttons .buttons button
    {
    width:180px;
    height:45px;
    font-size:22px;
    }
}


@media only screen and (max-width:630px)
{
.main-header h1
{
font-size:72px;
}

.info-img-buttons
{
width:80%;
}

.info-text .sub-header
{
font-size:28px;
}
}

@media only screen and (max-width:510px)
{
.main-header h1
{
font-size:64px;
}

.info-img-buttons 
{
width:100%;
}
}


@media only screen and (max-width:450px)
{

.info
{
display:flex;
flex-direction:column;
align-items:center;
width:100%;
}

.graphic-placeholder
{
width:0px;
height:0px;
}

.info-text
{
width:100%;
}

.main-header
{
width:100%;
}

.main-header h1
{
padding-top:20px;
font-size:64px;
padding-bottom:20px;
}

.info-text .sub-header
{
font-size:24px;
}

.info-text .main-header
{
font-size:35px;
}

.info-img-buttons
{
width:100%;
}

.hiw-button
{
margin-top:40px;
width:220px;
height:60px;
padding-top:15px;
}

}