div{
   font-family: Arial, Helvetica, sans-serif;
   font-size:16px;
   font-weight:600;
}

#app-icon
{
padding:0px;
margin:0px;
width:100px;
height:35px;
}

#kindle
{
color:var(--utOrange);
}

#decision
{
color:var(--black);
}

.nav-div{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-left:10px;
    padding-right:10px;
    margin:auto;
    padding-top:5px;
    padding-bottom:5px;
    background-color:white;
<<<<<<< HEAD
    /* padding-bottom:5px; */
=======
    padding-bottom:5px; 
>>>>>>> 457789307ffcfbd7b1fc73237874950057a83f7d
}

 .nav-links{
    display:flex;
    align-items: center;
} 

.nav-links a{
    text-decoration:none;
    margin-left:100px;
    color:var(--carrotOrange);
}


<<<<<<< HEAD
=======
@media only screen and (max-width:450px) {

.nav-div
{
height:50px;
padding-top:10px;
font-size:18px;
/* width: 195%; */
align-items: center;
}

.nav-links
{
    font-size:16px;   
}

.nav-links a{
    text-decoration:none;
    margin-left:20px;
    color:var(--carrotOrange);
}
}

>>>>>>> 457789307ffcfbd7b1fc73237874950057a83f7d
