<<<<<<< HEAD
.query-selectors
{
    margin-top:20px;
    display:flex;
    justify-content:center;
}

.query-selector-active
{
    font-size:25px;
    width:200px;
    border:0px;
    border-bottom:5px solid var(--black);
    color:var(--carrotOrange);
    margin-right:2px;
    margin-left:2px;
    font-weight:bold;
    padding:5px;
}

.query-selector-inactive 
{
    font-size:25px;
    width:200px;
    border:0px;
    color:lightslategray;
    margin-right:2px;
    font-weight: bold;
    margin-left:2px;  
    padding:5px;
=======
.no-query-info
{
text-align:center;
font-size:24px;
padding:40px 0px;
}

.query-headers
{
display:flex;
justify-content:space-between;
text-align:center;
}

.query-headers p
{
width:45%;
text-align: center;
}

.query-headers > div {
display: flex;
justify-content:space-around;
width:55%;
>>>>>>> 457789307ffcfbd7b1fc73237874950057a83f7d
}

.query-section
{
display:flex;
flex-direction:column;
align-items:center;
<<<<<<< HEAD
margin-top:30px;
padding-top:30px;
border-top:1px solid var(--carrotOrange);
}

.query-section button 
{
width:250px;
height:40px;
border-radius:15px;
border:0px;
color:white;
background-color:var(--carrotOrange);
font-weight:bold;
font-size:20px;
=======
>>>>>>> 457789307ffcfbd7b1fc73237874950057a83f7d
}

.query-list-container
{
background-color:white;
padding:20px;
border-radius:20px;
margin-top:20px;
<<<<<<< HEAD
width:60%;
}
.query-list
{
background-color:var(--lavender);
=======
width:90%;
}

.query-list
{
background-color:var(--utOrange);
>>>>>>> 457789307ffcfbd7b1fc73237874950057a83f7d
display:flex;
flex-direction:column;
align-items:center;
padding:5px;
border-radius:20px;
padding-bottom:20px;
}

.single-query
{
display:flex;
margin-top:10px;
<<<<<<< HEAD
color:var(--chefchaouenBlue);
=======
>>>>>>> 457789307ffcfbd7b1fc73237874950057a83f7d
width:95%;
justify-content:space-between;
}

.selections
{
display:flex;
margin-left:10px;
padding:5px;
background-color:white;

}

.query-title
{
font-size:20px;
 background-color:white; 
<<<<<<< HEAD
 width:95%; 
=======
 width:50%; 
>>>>>>> 457789307ffcfbd7b1fc73237874950057a83f7d
 text-align:center;
 padding-top:10px;
 padding-bottom:5px;
}

/*refactor the two classes below into one group*/
.query-selectioncount
{
color:white;
background-color:green;
padding:5px;
border-radius:10px;
}
.query-selectioncount  div
{
font-size:12px;
}

.query-status 
{   
    color:green;
    font-size:12px;
<<<<<<< HEAD
=======
}

.other-container
{
width:50%;
display:flex;
justify-content:space-between;
background-color:white;
}

@media only screen and (max-width:450px)
{

.query-list-container
{
width:95%;
padding:5px;
}

.single-query
{
width:100%;

}

.query-list
{
width:100%;
}

.query-headers p 
{
width:25%;
}  

.query-headers > div 
{
width:75%;

}

.query-headers
{
font-size:20px;
}

.query-headers div div 
{
font-size:20px;
}

div.no-query-info
{
font-size:20px;
}

>>>>>>> 457789307ffcfbd7b1fc73237874950057a83f7d
}