.no-query-info
{
text-align:center;
font-size:24px;
padding:40px 0px;
}

.query-headers
{
display:flex;
justify-content:space-between;
text-align:center;
}

.query-headers p
{
width:45%;
text-align: center;
}

.query-headers > div {
display: flex;
justify-content:space-around;
width:55%;
}

.query-section
{
display:flex;
flex-direction:column;
align-items:center;
}

.query-list-container
{
background-color:white;
padding:20px;
border-radius:20px;
margin-top:20px;
width:90%;
}

.query-list
{
background-color:var(--utOrange);
display:flex;
flex-direction:column;
align-items:center;
padding:5px;
border-radius:20px;
padding-bottom:20px;
}

.single-query
{
display:flex;
margin-top:10px;
width:95%;
justify-content:space-between;
}

.selections
{
display:flex;
margin-left:10px;
padding:5px;
background-color:white;

}

.query-title
{
font-size:20px;
 background-color:white; 
 width:50%; 
 text-align:center;
 padding-top:10px;
 padding-bottom:5px;
}

/*refactor the two classes below into one group*/
.query-selectioncount
{
color:white;
background-color:green;
padding:5px;
border-radius:10px;
}
.query-selectioncount  div
{
font-size:12px;
}

.query-status 
{   
    color:green;
    font-size:12px;
}

.other-container
{
width:50%;
display:flex;
justify-content:space-between;
background-color:white;
}

@media only screen and (max-width:450px)
{

.query-list-container
{
width:95%;
padding:5px;
}

.single-query
{
width:100%;

}

.query-list
{
width:100%;
}

.query-headers p 
{
width:25%;
}  

.query-headers > div 
{
width:75%;

}

.query-headers
{
font-size:20px;
}

.query-headers div div 
{
font-size:20px;
}

}