.tooltip
{
font-size:15px;
}

.yellow{
    color:yellow;
}

.green{
   color:green;
}

.grey{
  color:lightgrey;
}

.red{
    color:red;
}


.warning-icon
{
padding-left:7px;
padding-right:7px;
padding-top:1px;
padding-bottom:1px;
color:yellow;
border:1px solid yellow;
border-radius:50%;
}



.error-icon
{
    padding-left:7px;
    padding-right:7px;
    padding-top:1px;
    padding-bottom:1px;
    color:red;
    border:1px solid red;
    border-radius:50%;
}

.success-icon
{
    padding-left:7px;
    padding-right:7px;
    padding-top:1px;
    padding-bottom:1px;
    color:green;
    border:1px solid green;
    border-radius:50%;
}

.tip-icon
{
    padding-left:7px;
    padding-right:7px;
    padding-top:1px;
    padding-bottom:1px;
    color:lightgray;
    border:1px solid lightgray;
    border-radius:50%;
}


