main
{
display:flex;
justify-content:space-around;
}

.page-content
{
width:900px;
height:400px;
align-items:center;
justify-content:center;
margin-right:20px;
}



.side-menu
{
display:flex;
flex-direction:column;
width:50px;
background-color:white;
justify-content:center;
align-items:center;
margin-top:5%;
height:300px;
margin-left:20px;
border-radius:10px;
}

.side-menu > img
{
margin-bottom:20px;
}

.user-svg
{
width:24px;
height:24px;
position: relative;
top:20px;
left:-4px;
}

.combined-svg
{
width:35px;
margin-left:25%;
margin-top:0px;
margin-bottom:20px;
}