:root
{
<<<<<<< HEAD
--auburn:#A52A2A;
--chefchaouenBlue:#478FE3;
--lavender:#E1E8FF;
--persianBlue:#192BC2;
=======
--lavender:#E1E8FF;
>>>>>>> 457789307ffcfbd7b1fc73237874950057a83f7d
--utOrange:#fb8b24;
--white:white;
--black:black;

}

a{
 text-decoration:none;
}

.display-none{
    display:none;
<<<<<<< HEAD
}
=======
}

.disabled-button
{
opacity:50%;
}

.link-btn
{
color:blue;
text-decoration:underline;
font-size:14px;
font-style:italic;
margin-bottom:10px;
}


>>>>>>> 457789307ffcfbd7b1fc73237874950057a83f7d
